body{
    margin: 10px;
    text-align: center;
    font-family: Bookman Old Style;
    background-color: aliceblue;
}

.navbar{
    margin-bottom: 20px;
}

.row{
    width: 100%;
    margin-top: 50px;   
    margin-bottom: 50px;
}

.boxRow{
    font-size: large;
}

.boxRow button{
    background-color: blue;
    border-radius: 15px;
    color: whitesmoke;
    margin-top: 20px;
    border: none;
    padding: 10px;
}

.boxRow input{
    margin-top: 20px;
}

.boxRow p{
    height: 50px;
    text-align: center;
}

#vacancy{
    width: 100%;
    font-size: larger;
    text-align: left;
    font-family: Bookman Old Style;
    font-style: italic;
    text-wrap: pretty;
    contain: content;
}